<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>LeaveRequest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>LeaveRequest</servlet-name>		
		<url-pattern>/register</url-pattern>
		<url-pattern>/leaveStatus</url-pattern>
		<url-pattern>/registerPage</url-pattern>
		<url-pattern>/registration</url-pattern>
		<url-pattern>/login</url-pattern>
		<url-pattern>/homePage</url-pattern>
		<url-pattern>/loginAuthentication</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/searchEmployee</url-pattern>
		<url-pattern>/deleteEmployee</url-pattern>
		<url-pattern>/updateEmployee</url-pattern>
		<url-pattern>/leaveRequest</url-pattern>
		<url-pattern>/updateLeaveStatus</url-pattern>		
		<url-pattern>/leaveHistory</url-pattern>
		<url-pattern>/updatePassword</url-pattern>		
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>WEB-INF/JspPages/HomeTemplate.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>mail</web-resource-name>
			<url-pattern>/_ah/mail/*</url-pattern>
		</web-resource-collection>
		 <auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint> 
	</security-constraint>
</web-app>
